---
import Base from "../../layouts/Base.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import { type Work } from "../../types/types";

type Props = {
  name: string;
  year: number;
  roles: string[];
  services: string[];
  tech: string[];
  client: string;
  description: string[];
  externalLink: string | null;
  images: ImageMetadata[] | null;
};

const { work } = Astro.params;
if (!work) throw new Error("Slug not found");

export async function getStaticPaths() {
  const collections = await getCollection("works");
  return collections.map((work: Work) => {
    return {
      params: {
        work: work.data.slug,
      },
      props: {
        name: work.data.name,
        year: work.data.year,
        roles: work.data.roles,
        services: work.data.services,
        tech: work.data.tech,
        client: work.data.client,
        externalLink: work.data.externalLink || null,
        description: work.data.description || "",
        images: work.data.images || null,
      },
    };
  });
}

const {
  name,
  year,
  roles,
  services,
  tech,
  client,
  description,
  externalLink,
  images,
}: Props = Astro.props;
---

<Base title={name}>
  <div class="work">
    <header class="mb-12">
      <h1>{name}</h1>
    </header>

    <div class="data mb-10">
      <div
        class="item grid grid-cols-[0.35fr_0.65fr] py-2.5 border-b border-b-stone-200"
      >
        <p class="tag !m-0 text-stone-500">Año</p>
        <p class="!m-0">{year}</p>
      </div>
      <div
        class="item grid grid-cols-[0.35fr_0.65fr] py-2.5 border-b border-b-stone-200"
      >
        <p class="tag !m-0 text-stone-500">Rol</p>

        <div>
          {roles.map((role) => <p class="!m-0">{role}</p>)}
        </div>
      </div>
      <div
        class="item grid grid-cols-[0.35fr_0.65fr] py-2.5 border-b border-b-stone-200"
      >
        <p class="tag !m-0 text-stone-500">Tecnologías</p>

        <div>
          {tech.map((tech) => <p class="!m-0">{tech}</p>)}
        </div>
      </div>
      <div
        class="item grid grid-cols-[0.35fr_0.65fr] py-2.5 border-b border-b-stone-200"
      >
        <p class="tag !m-0 text-stone-500">Servicios</p>

        <div>
          {services.map((service) => <p class="!m-0">{service}</p>)}
        </div>
      </div>
      <div
        class={`item grid grid-cols-[0.35fr_0.65fr] py-2.5 ${externalLink ? "border-b border-b-stone-200" : ""}`}
      >
        <p class="tag !m-0 text-stone-500">Cliente</p>
        <p class="!m-0">{client}</p>
      </div>
      {
        externalLink && (
          <div class="item grid grid-cols-[0.35fr_0.65fr] py-2">
            <p class="tag !m-0 text-stone-500">Visitar</p>
            <a
              href={externalLink}
              target="_blank"
              rel="noreferrer noopener"
              class="!m-0"
            >
              Live site
            </a>
          </div>
        )
      }
    </div>

    <div class="description">
      <h2>Sobre el proyecto</h2>
      <div>
        {(description as string[]).map((p) => <p>{p}</p>)}
      </div>
    </div>

    {
      images && (
        <div class="images mt-8 grid gap-2 md:gap-4">
          {images.map((image) => (
            <Image
              src={image}
              alt={`Imágen del proyecto ${name}`}
              loading="eager"
            />
          ))}
        </div>
      )
    }
  </div>
</Base>
