---
import { Image } from "astro:assets";
import "../styles/featuredMusic.css";

const { image, artist, releaseName, position, appleMusicUrl, spotifyUrl } =
  Astro.props;
---

<div
  class={`musicReleaseCard ${small && "small bg-stone-100 dark:bg-stone-800 border border-stone-200 dark:border-stone-800"} `}
>
  <header>
    <Image
      src={image}
      alt={`${artist} - ${releaseName} cover`}
      inferSize={true}
    />
    <div class="releaseData">
      <p class="position">
        {position}
      </p>
      <h2 style="">
        {releaseName}
      </h2>
      <h4>{artist}</h4>
      <div class="platformsLinks">
        {
          appleMusicUrl && (
            <div class="link">
              <a href={appleMusicUrl}>Escuchar en Apple music</a>
            </div>
          )
        }
        {
          spotifyUrl && (
            <div class="link">
              <a href={spotifyUrl}>Escuchar en Spotify</a>
            </div>
          )
        }
      </div>
    </div>
  </header>
  <slot />
</div>
