---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { Icon } from "astro-icon/components";

import { type Playlist } from "../types/types";

import "../styles/playlists.css";

const sortByDate = (
  a: { data: { date: Date } },
  b: { data: { date: Date } }
) => {
  const dateB = new Date(b.data.date);
  const dateA = new Date(a.data.date);
  return dateB.getTime() - dateA.getTime();
};

const playlists = await getCollection("playlists");
playlists.sort(sortByDate);
---

<div>
  <h1 class="inPage">Playlists</h1>

  <div class="playlists-grid">
    {
      playlists.map((playlist: Playlist) => (
        <div class="item">
          <Image
            src={playlist.data.imageUrl}
            alt={playlist.data.name}
            inferSize={true}
            loading="eager"
          />
          <div class="content">
            <p class="title">{playlist.data.name}</p>
            <p class="desc">
              {playlist.data.songs
                ? `${playlist.data.songs} canciones`
                : "Se actualiza semanalmente"}
            </p>
            <div class="platforms">
              {playlist.data.platforms.appleMusicLink && (
                <a
                  href={playlist.data.platforms.appleMusicLink}
                  target="_blank"
                  rel="noopener"
                  aria-label="platform"
                >
                  <Icon name="tabler:brand-apple" />
                  <span>Apple music</span>
                </a>
              )}
              {playlist.data.platforms.spotifyLink && (
                <a
                  href={playlist.data.platforms.spotifyLink}
                  target="_blank"
                  rel="noopener"
                  aria-label="platform"
                >
                  <Icon name="tabler:brand-spotify" />
                  <span>Spotify</span>
                </a>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
