---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { type Work } from "../../types/types";

const sortByYear = (
  a: { data: { year: number } },
  b: { data: { year: number } }
) => {
  const dateB = new Date(b.data.year);
  const dateA = new Date(a.data.year);
  return dateB.getTime() - dateA.getTime();
};

const works = await getCollection("works");
works.sort(sortByYear);
---

<div class="items">
  {
    works.map((work: Work) => (
      <div class="item">
        <a class="image border-small" href={`/works/${work.data.slug}`}>
          <Image src={work.data.cover} alt={work.data.name} loading="eager" />
        </a>
        <div class="data">
          <h4>{work.data.name}</h4>
          <p>{work.data.year}</p>
        </div>
      </div>
    ))
  }
</div>
