---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import { type Work } from "../../types/types";

const works = await getCollection(
  "works",
  ({ data }: { data: Work["data"] }) => data.archived !== true
);

const sortByPriority = (a: { data: Work["data"] }, b: { data: Work["data"] }) =>
  a.data.priority - b.data.priority;

works.sort(sortByPriority);
---

<div class="items">
  {
    works.map((work: Work) => (
      <div class="item">
        <a class="image border-small" href={`/works/${work.data.slug}`}>
          <Image src={work.data.cover} alt={work.data.name} loading="eager" />
        </a>
        <div class="data">
          <h4>{work.data.name}</h4>
          <p>{work.data.year}</p>
          <div class="roles">
            <p>
              {work.data.roles.map((role) => (
                <span>{role}</span>
              ))}
            </p>
          </div>
        </div>
      </div>
    ))
  }
</div>
