---
import { Image } from "astro:assets";

import Base from "../../layouts/Base.astro";
import { getAlbums } from "../../scripts/notion";

import "../../styles/single-album.css";

const { album } = Astro.params;
if (!album) throw new Error("Album not found");

export async function getStaticPaths() {
  const albums = await getAlbums();

  return albums.map((album) => {
    return {
      params: {
        album: album.slug,
      },
      props: {
        name: album.name,
        artist: album.artist,
        year: album.year,
        cover: album.cover,
        tracklist: album.tracklist?.replace(/\n/g, "<br>"),
        description: album.description,
      },
    };
  });
}

const { name, artist, year, cover, tracklist, description } = Astro.props;
---

<Base title={`${artist} - ${name}`}>
  <div class="single-album">
    <header>
      <h1>{name} <span>({year})</span></h1>
      <h3>{artist}</h3>
    </header>

    <div class="cover appear">
      <Image src={cover} alt={`${artist} - ${name}`} inferSize={true} />
    </div>

    {
      description && (
        <div class="description">
          <h4>Notas</h4>
          <p set:html={description} />
        </div>
      )
    }

    {
      tracklist && (
        <div class="tracklist">
          <h4>Tracklist</h4>
          <p set:html={tracklist} />
        </div>
      )
    }
  </div>
</Base>
