---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Base from "../../layouts/Base.astro";
import { getAlbums } from "../../scripts/notion";

import "../../styles/single-album.css";

const { album } = Astro.params;
if (!album) throw new Error("Album not found");

export async function getStaticPaths() {
  const albums = await getAlbums();

  return albums.map((album) => {
    return {
      params: {
        album: album.slug,
      },
      props: {
        name: album.name,
        artist: album.artist,
        year: album.year,
        cover: album.cover,
        tracklist: album.tracklist?.replace(/\n/g, "<br>"),
        description: album.description,
        streamingLinks: album.streamingLinks,
      },
    };
  });
}

const { name, artist, year, cover, tracklist, description, streamingLinks } =
  Astro.props;
---

<Base title={`${artist} - ${name}`}>
  <div class="single-album">
    <header>
      <h1>{name} <span>({year})</span></h1>
      <h3>{artist}</h3>
    </header>

    <div class="cover appear">
      <Image src={cover} alt={`${artist} - ${name}`} inferSize={true} />
    </div>

    {
      streamingLinks && (
        <div class="streaming-links">
          {streamingLinks.apple_music && (
            <a
              href={streamingLinks.apple_music}
              target="_blank"
              rel="noopener"
              aria-label="platform"
            >
              <Icon name="tabler:brand-apple" />
              <span>Apple music</span>
            </a>
          )}

          {streamingLinks.spotify && (
            <a
              href={streamingLinks.spotify}
              target="_blank"
              rel="noopener"
              aria-label="platform"
            >
              <Icon name="tabler:brand-spotify" />
              <span>Spotify</span>
            </a>
          )}

          {streamingLinks.soundcloud && (
            <a
              href={streamingLinks.soundcloud}
              target="_blank"
              rel="noopener"
              aria-label="platform"
            >
              <Icon name="tabler:brand-soundcloud" />
              <span>Soundcloud</span>
            </a>
          )}
        </div>
      )
    }

    {
      description && (
        <div class="description">
          <h3>Notas</h3>
          <p set:html={description} />
        </div>
      )
    }

    {
      tracklist && (
        <div class="tracklist">
          <h3>Tracklist</h3>
          <p set:html={tracklist} />
        </div>
      )
    }
  </div>
</Base>
