---
import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import socialImage from "../../src/assets/images/social.png";

import "../styles/reset.css";
import "../styles/fonts.css";
import "../styles/app.css";

const { title, description } = Astro.props;

const currentPath = Astro.url.pathname;
const canonicalURL = new URL(currentPath, Astro.site);
const socialImageURL = new URL(socialImage.src, Astro.url);
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no"
    />

    <meta property="og:type" content="website" />

    <title>{title ? `${title} — Juan Berrios` : "Juan Berrios"}</title>
    <meta
      property="og:title"
      content={title ? `${title} — Juan Berrios` : "Juan Berrios"}
    />
    <meta
      name="twitter:title"
      content={title ? `${title} — Juan Berrios` : "Juan Berrios"}
    />
    <meta
      itemprop="name"
      content={title ? `${title} — Juan Berrios` : "Juan Berrios"}
    />

    <meta
      name="description"
      content={description || `Jardín digital de Juan Berrios`}
    />
    <meta
      property="og:description"
      content={description || `Jardín digital de Juan Berrios`}
    />
    <meta
      name="twitter:description"
      content={description || `Jardín digital de Juan Berrios`}
    />
    <meta
      itemprop="description"
      content={description || `Jardín digital de Juan Berrios`}
    />

    <link rel="canonical" href={canonicalURL.href} />
    <meta property="og:url" content={canonicalURL.href} />
    <meta name="twitter:url" content={canonicalURL.href} />

    <meta property="og:image" content={socialImageURL} />
    <meta property="og:image:width" content="900" />
    <meta property="og:image:height" content="470" />
    <meta name="twitter:image" content={socialImageURL} />
    <meta itemprop="image" content={socialImageURL} />

    <meta name="copyright" content="(c) 2024 Juan Berrios" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@byjuanberrios" />
    <meta name="twitter:domain" content="juanberrios.com" />
    <meta name="twitter:creator" content="@byjuanberrios" />

    <ViewTransitions />
  </head>
  <body>
    <Header currentPath={currentPath} />
    <main class="base-spacing max-spacing base-top-padding">
      <slot />
    </main>
    <Footer class="base-spacing max-spacing" />
  </body>
</html>
